.wrapper-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-form {
    display: flex;
}

.bottom-form {
    display: flex;
}

.update-btns {
    display: flex;
    flex-direction: column;
}