.wrapper-register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.register-btns {
    display: flex;
    flex-direction: column;
}